
<div class="tag-dialog-container">
  <i class="close-icon fas fa-times" (click)="close()"></i>
  <h3 mat-dialog-title class="title">Add Tag</h3>
  <p>Image Name: {{data.image.name}}</p>

  <div mat-dialog-content>
    <mat-form-field>
      <mat-label>New Tag</mat-label>
      <input
        matInput
        placeholder="New tag..."
        [formControl]="tagCtrl"
        (keyup.enter)="addTag()"
      />
    </mat-form-field>
    <button mat-button color="primary" class="add-btn" (click)="addTag()">Add</button>
    <div class="tag-list">
      <mat-chip-list class="mat-chip-list">
        <mat-chip
          *ngFor="let tag of tags"
          [selectable]="true"
          [removable]="true"
          (removed)="remove(tag)"
        >
          {{ tag }}
          <mat-icon matChipRemove>cancel</mat-icon>
        </mat-chip>
      </mat-chip-list>
    </div>
  </div>
  <div mat-dialog-actions class="mat-dialog-actions">
    <button mat-button  color="warn" (click)="close()">Cancel</button>
    <button mat-button  color="primary" (click)="save()">Update</button>
  </div>
</div>
