<div class="uplod-dialog-container">
  <h1 mat-dialog-title>Upload Image</h1>
  <div mat-dialog-content>
    <mat-form-field>
      <mat-label>Image Name</mat-label>
      <input matInput [(ngModel)]="imageName" name="imageName" required />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Tags</mat-label>
      <input matInput [(ngModel)]="tags" name="tags" />
    </mat-form-field>
    <input type="file" (change)="onFileSelected($event)" required/>
  </div>
  <div mat-dialog-actions>
    <button mat-button (click)="onCancel()">Cancel</button>
    <button mat-button (click)="onUpload()" color="primary">Upload</button>
  </div>
</div>
